body {
  background-color: #008CD6;
  background-image: url("background.jpg");

}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
img {
  border: 4px solid #B81424;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  color: #B81424;
  text-align: center;
  font-size: 30px
}
h1 {
  color: #FFD100;
  text-align: center;
  font-size: 60px
}
h2 {
  color: #FFD100;
  text-align: center;
  font-size: 50px
}
h3 {
  color: #008CD6;
  text-align: center; 
}
li {
  color: #B81424;
  text-align: center
  }
li {
  color: #B81424;
  text-align: left;
  font-size: 30px
}
h6 {
  color: #B81424;
}

#percy {
  color: #0CA838;
}

#sw {
  color: #aaa9ad;
  font-size: 45px
}
#sw-img {
  border: 25px solid #aaa9ad;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#dfw {
  color: #FFD100;
  font-size: 45px
}
#dfw-img {
  border: 25px solid #FFD100;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#zpw {
  color: #207C01;
  font-size: 45px
}
#zpw-img {
  border: 25px solid #207C01;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ty3d {
  color: #47AAE3;
  font-size: 45px
}
#ty3d-img {
  border: 25px solid #47AAE3;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tfm {
  color: #ACACB1;
  font-size: 45px
}
#tfm-img {
  border: 25px solid #ACACB1;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #B81424;
  text-align: center
}

